{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "KMSEncryptDecrypt",
            "Effect": "Allow",
            "Action": [
                "kms:Decrypt",
                "kms:Encrypt",
                "kms:GenerateDataKey"
            ],
            "Resource": ${resource_arns}
        }
    ]
}
