{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "SQSAccess",
            "Effect": "Allow",
            "Action": [
                "sqs:GetQueue*",
                "sqs:*Message",
                "sqs:ChangeMessageVisibility"
            ],
            "Resource": ${resource_arns}
        }
    ]
}
